div#social ul {
	overflow: auto;
    padding-inline-start: 0px;
margin-block-start: 1em;
}

div#social ul li {
	list-style-type: none;
	float: left;
}

div#social ul li a i {

padding: 5px;

}

div#social {
	text-align: left;

display: block;

}
