
  <h3> <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    {% for category in categories %}
   <a href="/category/{{category|downcase}}/">({{category}})</a>
  {% endfor %}</h3>


  <div class="row">
    <div class="col-2 d-none d-sm-block">

      {% if post.image %}

        <img src="{{ post.image }}" alt="{{ post.title }}" style="width:100%;">

         {% else %}

         {% endif %}

    </div>
    <div class="col-12 col-md-10">
      {{ post.content | strip_html | truncatewords: 100 }}

  </div>
  </div>



<hr>
