<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="/images/mii.png"/>
      <h1>
        <a href="/">
          L8TN
        </a>
      </h1>
      <p class="lead">My blog</p>


<div id="social">
<ul id="">
{% if site.twitter_username %}
    <li>
    <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter">
      <i class="fab fa-twitter fa-2x"></i>
    </a>
  </li>
  {% endif %}
  {% if site.github_username %}
    <li>
      <a href="https://github.com/{{ site.github_username }}" title="Github">
        <i class="fab fa-github fa-2x"></i>
      </a>
    </li>
  {% endif %}

  {% if site.instagram_username %}
  <li>
    <a href="https://instagram.com/{{ site.instagram_username }}" title="Instagram">
      <i class="fab fa-instagram fa-2x"></i>
    </a>
  </li>
{% endif %}

{% if site.untappd_username %}
<li>
  <a href="https://untappd.com/user/{{ site.untappd_username }}" title="Untappd">

    <i class="fab fa-untappd fa-2x"></i>
  </a>
</li>
{% endif %}

{% if site.nintendo_username %}
<li>
  <a href="https://nin.codes/{{ site.nintendo_username }}" title="Nintendo Switch">
    <i class="fab fa-nintendo-switch fa-2x"></i>
  </a>
</li>
{% endif %}


</ul>
</div>
  </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/">Home</a>

            <a class="sidebar-nav-item" href="/about/">About</a>
            <a class="sidebar-nav-item" href="/uk-travel-map/">UK Travel Map</a>
            <a class="sidebar-nav-item" href="/archives/">Archives</a>


    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
