<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-09">

    <div class="content container">
      {{ content }}
    </div>




    {% include sidebar.html %}
<script type="text/javascript">(function () {var s = document.createElement('script');var t = document.getElementsByTagName('script')[0];s.type = 'text/javascript';s.async = true;s.src = '/ssp/javascripts/jquery.socialshareprivacy.min.autoload.js';t.parentNode.insertBefore(s, t);})();</script>


  </body>
</html>
