---
layout: default
---

<div class="container">

  <div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h1 class="mt-4">{{ page.title }}</h1>

      <!-- Author -->

      <hr>

      <!-- Date/Time -->
      <p class="badge badge-primary"><i class="fas fa-calendar-day"></i> Posted on {{ page.date | date: "%Y-%m-%d" }}</p>
<p class="badge badge-primary">{{ page.content | number_of_words }} words</p>

      <hr>
      <!-- `breadcrumb` -->

      {% if post %}
        {% assign categories = post.categories %}
      {% else %}
        {% assign categories = page.categories %}
      {% endif %}

      <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ site.baseurl }}">Home</a></li>
      {% for category in categories %}
    <li class="breadcrumb-item">    <a href="/category/{{category|downcase}}/">{{category}}</a></li>
    {% endfor %}
    <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
  </ol>
</nav>

      <hr>

      <!-- Post Content -->
      <article>
{{ content }}
</article>

      <hr>

      <!-- Comments Form -->
      <!-- utterances -->
<a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.jamesleighton.com{{ page.url }}&via=geekyjames&hashtags=comment"><img src="/images/tweet.png" width="100px"/>    Start a discussion on Twitter!</a>
<div id="disqus_thread"></div>

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://jamesleighton.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            


    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">

      <!-- Search Widget
      <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>-->

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header"><i class="fas fa-tags"></i> Tags</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">

                {% if post %}
                  {% assign tags = post.tags %}
                {% else %}
                  {% assign tags = page.tags %}
                {% endif %}
                {% for tag in tags %}
                <span class="badge">
                  <a href="/tag/{{tag|slugize}}">{{ tag }}</a>
                </span>
                {% endfor %}

            </div>

          </div>
        </div>
      </div>


      <div class="card my-4">
        <h5 class="card-header"><i class="far fa-grin-alt"></i> You May Also Enjoy</h5>
        <div class="card-body">

          {% assign maxRelated = 5 %}
          {% assign minCommonTags =  1 %}
          {% assign maxRelatedCounter = 0 %}

            {% for post in site.posts %}

              {% assign sameTagCount = 0 %}
              {% assign commonTags = '' %}

              {% for tag in post.tags %}
                {% if post.url != page.url %}
                  {% if page.tags contains tag %}
                    {% assign sameTagCount = sameTagCount | plus: 1 %}
                    {% capture tagmarkup %} <span class="badge">{{ tag }}</span> {% endcapture %}
                    {% assign commonTags = commonTags | append: tagmarkup %}
                  {% endif %}
                {% endif %}
              {% endfor %}

              {% if sameTagCount >= minCommonTags %}
                <div>
                <a href="{{ post.url }}">{{ post.title }} </a>{{ commonTags }}
                </div>
                {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                {% if maxRelatedCounter >= maxRelated %}
                  {% break %}
                {% endif %}
              {% endif %}

            {% endfor %}


        </div>
      </div>







      <!-- Side Widget -->




  <div class="card my-4">
    <!--<h5 class="card-header">Side Widget</h5>-->
    <div class="card-body">
<div style="text-align:justify">
  <a href="https://exist.io/?referred_by=jamesleighton" title="Exist.IO"><img src="/images/exist-logo.png" width="50%"  style="display: block;  margin-left: auto;  margin-right: auto;" /></a>
I'm using Exist to track my life and understand my behaviour. Join me! <a href="https://exist.io/?referred_by=jamesleighton" title="Exist.io extra month free">Use my link to get an extra month free.</a>
          </div></div>
      </div>



      <div class="card my-4">
        <h5 class="card-header"><i class="fab fa-twitter"></i>My Tweets</h5>
        <div class="card-body">
<a class="twitter-timeline" data-height="500" href="https://twitter.com/geekyjames?ref_src=twsrc%5Etfw">Tweets by geekyjames</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
      </div>

    </div>

  </div>
  <!-- /.row -->

</div>
